/* Font import */
@import 'https://fonts.googleapis.com/css?family=Raleway:300';

body{
  font-family: 'Raleway', sans-serif;
}

.letter-white{
  color: #FFF;
}

.letter-link{
  text-decoration: underline;
}
